@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    font-weight: normal;
    font-style: normal;
    src: url("./fonts/Inter/static/Inter-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Inter";
    font-weight: 500;
    font-style: normal;
    src: url("./fonts/Inter/static/Inter-Medium.ttf") format("truetype");
  }

  @font-face {
    font-family: "Inter";
    font-weight: 600;
    font-style: normal;
    src: url("./fonts/Inter/static/Inter-SemiBold.ttf") format("truetype");
  }

  @font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: normal;
    src: url("./fonts/SF_Pro_Display/SF-Pro-Display-Regular.otf")
      format("opentype");
  }

  html {
    font-family: "Inter", system-ui, sans-serif;
  }

  body {
    @apply bg-zinc-50;
  }

  body * {
    @apply animate-fadein;
  }

  a {
    @apply transition-colors;
    @apply ease-out;
    @apply duration-150;
  }

  a:hover {
    @apply text-zinc-400;
  }
}

@layer utilities {
  .test {
    border: 1px solid red;
  }
}
