@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply max-w-screen-xl;
        @apply m-auto;
        @apply p-8;
        background-color: lightblue;
        border: 1px solid red;
    }

    header {
        border: 1px solid red;
    }
}